[req]
req_extensions = v3_exts

[v3_exts]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
1.2.3.4.22.11.23=ASN1:SEQUENCE:berytus_extension

[alt_names]
DNS.0 = localhost

[berytus_extension]
Entry.0=SEQUENCE:berytus_allowlist_entry_0


[berytus_allowlist_entry_0]
key=UTF8STRING:MCowBQYDK2VwAyEACIc9KLxLWvhZiX5b3TiiHeM8HP3OLGgNelFRMIXKuPQ=
sksig=UTF8STRING:JKaVIcubAWstyW35B+kyp55Rx8drCLxrbVkbfQbJBcjJ0VD84yyEWdv6Uy4CP9mXvsnDU19yCUkv7v88T6rmAQ==
url=UTF8STRING:https://localhost/*

