DB_HOST=
DB_PORT=6543
DB_USER=
DB_PASS=
DB_NAME=postgres
# Sample signing key pair and self-signed cert for testing
SIGNING_KEY_SPKI=MCowBQYDK2VwAyEAjTDlbx9pgxXagW81+z+1TyNBqZ1kp715hP8GgH6S9LE=
SIGNING_KEY_PKCS8=MC4CAQAwBQYDK2VwBCIEILIv7PyRVhycVbhd0Vu2uwYc9LX05G0tlbm5ngVrPOAt
# If below two are set, app is served via HTTPS
SERVER_KEY_PATH=./cert-local/subj.privkey.pem
SERVER_CERT_PATH=./cert-local/subj.cert.pem