version: '3'
services:
  app:
    build: .
    restart: always
    ports:
      - "0.0.0.0:80:8080"
    environment:
      - HOST=0.0.0.0
      - PORT=8080
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASS_FILE=/run/secrets/dbpass
      - DB_NAME=berytus
      - DB_SCHEMA=app
    depends_on:
      - db
    secrets:
      - dbpass
  db:
    image: postgres:latest
    shm_size: 128mb
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD_FILE=/run/secrets/dbpass
      - POSTGRES_DB=berytus
    volumes:
      - appdb:/var/lib/postgresql:rw
    secrets:
      - dbpass
  dbmigrate:
    restart: no
    build:
      dockerfile: dbmigrate.dockerfile
    depends_on:
      - db
    environment:
      # FLYWAY_PASSWORD is set at run time, see the Dockerfile ENTRYPOINT,
      # by reading the DB_PASSWORD_FILE
      - DB_PASSWORD_FILE=/run/secrets/dbpass
      - FLYWAY_URL=jdbc:postgresql://db:5432/berytus
      - FLYWAY_DEFAULT_SCHEMA=app
      - FLYWAY_USER=user
      - FLYWAY_LOCATIONS=filesystem:/sql
      - FLYWAY_BASELINE_ON_MIGRATE=true
      - FLYWAY_EXECUTE_IN_TRANSACTION=true
      - FLYWAY_CONNECT_RETRIES=5 # needed to wait for the db to start
      - FLYWAY_CONNECT_RETRIES_INTERVAL=10
    secrets:
      - dbpass
volumes:
  appdb:
secrets:
  dbpass:
    file: ./dbpass.txt