[req]
req_extensions = v3_exts

[v3_exts]
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names
1.2.3.4.22.11.23=ASN1:SEQUENCE:berytus_extension

[alt_names]
DNS.0 = localhost
DNS.1 = 127.0.0.1

[berytus_extension]
Entry.0=SEQUENCE:berytus_allowlist_entry_0
Entry.1=SEQUENCE:berytus_allowlist_entry_1


[berytus_allowlist_entry_0]
key=UTF8STRING:MCowBQYDK2VwAyEAnpiZjtpn/WQZF7q3kU3r3TGVYee1SS2pswmGym74hjM=
sksig=UTF8STRING:+nSvebalvIay8M6Cb4x6jFqchJ6fgXNzN/hc74i4mm1SZcU/f4n/1usNRU49pCGjGpxYDi8l7lQYnlzx/YUmBQ==
url=UTF8STRING:https://localhost/app/a/*

[berytus_allowlist_entry_1]
key=UTF8STRING:MCowBQYDK2VwAyEA0oHR71kabA+udgi5akSWGI9MVYd0Jzz2v0A2zdgMnRk=
sksig=UTF8STRING:71cAUTMDzlCBTuE+W7A/STOHJsd/pFzzLtnemMluy5CGZMIPfU9ku10UNZhRCCORgtLpIVnzNrDMe0vIq7LPBw==
url=UTF8STRING:https://localhost/app/b/*

